@media all and (max-width: 768px) {
    #root {
        flex-direction: column;
    }

    .sidebar {
        height: 140px;
    }

    .title {
        font-size: 40px;
    }

    .bar-wrapper {
        width: 55%;
        padding-bottom: 40px;
    }
}

@media all and (max-width: 620px) {
    .bar-wrapper {
        width: 70%;
    }
}